.footer_parent_div {
  background-color: #292b2b;
  color: #868d8d;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 30px;
}
.footer_child_div {
}
.footer_logo_div {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.footer_logo_div img {
  width: 12%;
  height: 100%;
}
.footer_logo_div p {
  text-align: left;
  width: 50%;
  line-height: 27px;
}
/* ============== */

.footer_location_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  gap: 75px;
  /* background-color: aqua; */
}
._media_div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer_icon_flex_div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer_icon_flex_div div {
  text-align: left;
  line-height: 25px;
}
.faLocation {
  color: #ecaa30;
  font-size: 20px;
}
.footer_media_icon {
  border: 2px solid #868d8d;
  padding: 5px;
  cursor: pointer;
}

.footer_blank_div {
  background-color: #868d8d;
  height: 1px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer_down_site {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 75%;
  text-align: left;
  margin: auto;
  margin-bottom: 60px;
}
.footer_down_site h2 {
  margin-bottom: 20px;
  color: white;
}
.footer_down_site p {
  margin-bottom: 20px;
}
.small {
  color: #5b6161;
}
/* =========================== */
.subscribe-container {
  display: flex;
  background-color: #333; /* Dark background */
  border-radius: 5px;
  width: fit-content;
  max-width: 100%;
}

.subscribe-input {
  padding: 10px;
  border: none;
  font-size: 16px;
  color: #aaa; /* Placeholder text color */
  background-color: #444; /* Input background */

  flex-grow: 1;
  min-width: 300px; /* Adjust width to make it responsive */
}

.subscribe-input::placeholder {
  color: #bbb;
}

.subscribe-button {
  padding: 10px 20px;
  background-color: #17d1d4; /* Button color */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.subscribe-button:hover {
  background-color: #15b9ba; /* Darken button on hover */
}
.abaacorp {
  color: blue;
}
