* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav_parent_div {
  position: fixed;
  width: 100%;
  color: white;
  z-index: 2;
  top: 0;
}

.nav_header.scrolled {
  padding: 1px;
  background-color: rgb(36, 186, 192);
  transition: background-color 0.3s ease;
  /* height: 150px; */
}

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.clinic-info span,
.contact-info span {
  font-size: 16px;
  color: white;
  margin: 50px;
}

.appointment-btn {
  padding: 8px 16px;
  background-color: #ecaa30;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.appointment-btn:hover {
  background-color: #db9f2e;
}

.navbar {
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
  padding: 10px 200px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo_two {
  margin-left: -180px;
  width: 30%;
  border-radius: 3px;
}
.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background 0.3s;
}

.menu ul li a:hover {
  background-color: rgb(36, 186, 192);
  border-radius: 4px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.dropdown {
  position: relative;
}

.special:hover {
  color: black;
}
.faArrowDown {
  margin-left: 10px;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 144%;
  width: 120%;
  left: 0;
  background-color: rgb(36, 186, 192);
  margin-left: -20px;
  padding: 15px 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  text-align: left;
  height: 300px;
  overflow: auto;
  font-size: 14px;
}

.dropdown-menu::-webkit-scrollbar {
  width: 10px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #24bac0;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #1a8f96;
}

.dropdown:hover .dropdown-menu li a {
  background-color: rgb(36, 186, 192);
}
.dropdown-menu:hover li a:hover {
  background-color: rgb(14, 206, 212);
  border-radius: 0px;
}
.dropdown-menu li a {
  display: block;
  margin-left: -20px;
}

.dropdown-menu:hover {
  color: white;
  background-color: rgb(36, 186, 192);
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}
.makeAnAppointments_div {
  text-align: left;
}
.makeAnAppointments_div h2 {
  text-align: center;
  margin-bottom: 15px;

  color: black;
}
.makeAnAppointments_div input {
  width: 100%;
  padding: 15px;

  border: 1px solid gray;
  margin-top: 20px;
}
.makeAnAppointments_div select {
  width: 100%;
  padding: 15px;

  border: 1px solid gray;
  margin-top: 20px;
}
.make_location_input_div {
  width: 23%;
  margin: auto;
  margin-top: 20px;
  background-color: #fbf9f4;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
}
.faXmark {
  color: black;
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 25px;
  /* border: 1px solid black; */
  padding: 5px;
  /* border-radius: 50%; */
  cursor: pointer;
}
@media screen and (max-width: 1107px) {
  .navbar {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 819px) {
  .nav_welcome {
    display: none;
  }
  .nav_pnone_number {
    position: absolute;
    left: 0;
    top: -25px;
  }
}
@media screen and (max-width: 768px) {
  .nav_parent_div {
  }
  .nav_header {
    background-color: rgb(36, 186, 192);
    position: absolute;
    width: 100%;
    top: 0;
  }
  .navbar {
    padding: 10px 30px;
  }
  .logo {
    color: white;
    z-index: 1;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: rgb(36, 186, 192);
    width: 100%;
    text-align: center;
    transition: all 2s ease-in-out;
    padding: 20px;
  }

  .menu.open ul {
    display: block;
    margin-top: 80px;
  }

  .menu ul li {
    margin: 10px 0;
    text-align: left;
    margin-top: 35px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }

  .menu ul li a {
    color: white;
    padding: 15px;
  }

  .menu-icon {
    display: block;
  }
  .close-icon {
    color: white;
    z-index: 1;
    position: relative;
  }
  .special {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faArrowDown {
    display: block;
  }

  .dropdown ul {
    display: flex;
    position: relative;
    top: -76px;
    width: 100%;
    left: 0;
    background-color: rgb(36, 186, 192);
    padding: 0px 0;
    overflow: scroll;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    z-index: 1;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    text-align: left;
  }

  .dropdown:hover .dropdown-menu li a {
    background-color: rgb(23, 167, 172);
  }
  .dropdown-menu:hover li a:hover {
    border-radius: 0px;
  }
  .dropdown-menu li a {
    display: block;
    margin-left: 0px;
  }

  .dropdown-menu:hover {
    color: white;
    background-color: rgb(36, 186, 192);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
  }
}
@media screen and (max-width: 440px) {
  .nav_pnone_number {
    display: none;
  }
}

/* ========================dfdfdfdf============================================================================================================================================================================================================================================================================================================================================================================ */
